<!-- /views/plans.ejs -->

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
</head>

<body>
    <h1>Plans</h1>
    <% plans.forEach(plan => { %>
        <div>
            <h2>
                <%= plan.name %>
            </h2>
            <p>
                <%= plan.description %>
            </p>
            <p>
                <%= plan.price %>
            </p>
            <p>
                <%= plan.interval %>
            </p>
            <form action="/subscriptions" method="post">
                <input type="hidden" name="planId" value="<%= plan._id %>">
                <button type="submit">Subscribe</button>
            </form>
        </div>
        <% }); %>
</body>

</html>