<!-- /views/subscriptions.ejs -->

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
</head>

<body>
    <h1>Subscriptions</h1>
    <% subscriptions.forEach(subscription => { %>
        <div>
            <h2>
                <%= subscription.plan.name %>
            </h2>
            <p>
                <%= subscription.plan.description %>
            </p>
            <p>
                <%= subscription.plan.price %>
            </p>
            <p>
                <%= subscription.plan.interval %>
            </p>
            <p>
                <%= subscription.status %>
            </p>
            <form action="/subscriptions/<%= subscription._id %>" method="post">
                <input type="hidden" name="_method" value="delete">
                <button type="submit">Cancel Subscription</button>
            </form>
        </div>
        <% }); %>
</body>

</html>